asyncpg
boto3
celery
fastapi
httpx
openai-whisper
bcrypt
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
redis
reportlab
sqlalchemy
torch
transformers
pyannote.audio[separation]==3.3.2
scipy
slowapi
uvicorn